.footer{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #222222;
    position: relative;
}
.cpy-right{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 5px;
    background-color: black;
}
.cpy-right h4{
    color: #f5f7f4;
    text-align: center;
}
.cpy-right h4 span{
    color: red;
}

.footer-text{
    position: absolute;
    color: rgb(176, 188, 163);
    width: 400px;
    padding: 40px;
    line-height: 1.5;
}
.fa-brands{
    position: relative;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 60px rgb(58, 35, 35);
}
 .icon{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 550px;
    height: 60px;
    /* border:2px solid black solid black; */
    align-items: center;
    bottom: 30%;
   
 }
 .fa-brands:hover{
    color: rgb(255, 213, 0);
    transform: scale(1.1);
 }

.address{
    position: absolute;
    top: 37%;
    right: 5%;
    width: 350px;
    color:rgb(214, 161, 64);
    line-height: 1.8;
    border-radius: 50px;
    padding: 50px;
    padding-top: 0px;
    box-shadow: 5px 10px 50px black;
}

.insta{
    position: absolute;
    width: 100px;
    height: 20px;
    border:2px solid black solid white;
    margin-left: 225px;
    text-align: center;
    background-image:-webkit-repeating-radial-gradient(left top,rgb(219, 0, 219),rgb(240, 128, 182),red,rgb(183, 183, 90));
    color: white;
    padding: 5px;
    font-weight: 600;
}

.face{
    position: absolute;
    width: 100px;
    height: 20px;
    border:2px solid black solid white;
    margin-left: 325px;
    text-align: center;
    background-color: rgb(0, 106, 255);
    color: white;
    padding: 5px;
}
.whats{
    position: absolute;
    width: 100px;
    height: 20px;
    border:2px solid black solid white;
    margin-left: 425px;
    text-align: center;
    background-color: rgb(8, 134, 8);
    color: white;
    padding: 5px;
}
.twitter{
    position: absolute;
    width: 100px;
    height: 20px;
    border:2px solid black solid white;
    margin-left: 525px;
    text-align: center;
    background-color: rgb(0, 106, 255);
    color: white;
    padding: 5px;
}

@media all and (min-width:1024px){
    /* Choice */
 
 /* Footer box */
 
 .footer{
    width: auto;
    height: 600px;
    background-color: #222222;
}
.cpy-right{
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 50px;
    background-color: black;
}

}


@media all and (max-width:700px){
    /* Choice */
 
 /* Footer box */
 
 .footer{
    position: relative;
    width: auto;
    height: 750px;
    background-color: #222222;
}
.cpy-right{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: black;
    font-size: 12px;
}
.icon{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 550px;
    height: 60px;
    /* border:2px solid black solid black; */
    align-items: center;
    bottom: 7%;
 }
 .footer-text{
    position: absolute;
    color: rgb(176, 188, 163);
    width: 300px;
    padding: 40px;
    line-height: 1;
}
.footer-text h1{
    font-size: 20px;
    font-weight: 800;
}
.footer-text h3{
    font-size: 16px;
    line-height: 1.2;
}
.address{
    position: absolute;
    top: 37%;
    right: 0px;
    width: 80%;
    color:rgb(214, 161, 64);
    line-height: 1.2;
    border-radius: 50px;
    box-shadow: 5px 10px 50px black;
}
.icon{
    display: flex;
    justify-content:center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    /* border:2px solid black solid black; */
    align-items: center;
    bottom:10%;
   
 }

}