@media (min-width:1000px){
   /* body{
    width: 100vw;
    height: 100vh;
   } */
 
   body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    position: relative;
}
/* .logo-img{

} */

/* Navigation bar */

.header{width: 1490px;
    height: 100px;
    background-color: #f5f7f4;
    /* border-bottom: 5px double #a39696; */
    position: fixed;
    margin-top: 0px;
    z-index: 2;
    /* box-shadow:2px solid black 10px 10px; */
    /* border:2px solid black solid black; */
}
.top-bar{width: 100%;
    height: 100px;
    margin-left: 0px;
    /* border:2px solid black solid black; */
}
.menu-items ul{
    width: 60%;
    margin-left: 450px;
    margin-top: -106px;
    height: 100px;
    /* border:2px solid black solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-items ul li{
    list-style: none;
    color:  #222222;
    font-size: 30;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    
}
.menu-items ul li a{
    text-decoration: none;
    color: #222222;
}
.menu-items ul li a:hover{
    color: rgb(5, 121, 121);
}

.drop ul{
    position: absolute;
    display: block;
    margin-top: 3px;
    margin-left: -70px;
    width: 150px;
    height: 300px;
    text-align: center;
    display: none;
}
.drop ul li{
    line-height: 3;
    padding-left: 0px;
    text-align: center;
    border-bottom: 1px solid rgb(74, 72, 72);
    background-color: #f5f7f4;
    box-shadow: 5px 3px 10px;
}

.list-item .pro:hover .drop ul{
    display: block;
    transition: 1s;
}

/* slider  */

.slider-box{
    /* border:2px solid black solid black; */
    width: 1390px;
    height: 700px;
    background-image:url(../images/roofing-contractor-2.PNG);
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: gray;
    padding: 50px;
    /* animation-name: slider;
    animation-duration: 4s; */
}

.content-welcome {
    width: 600px;
    color: rgb(0, 0, 0);
    margin-left: 820px;
    margin-top: 380px;
    /* border:2px solid black solid black; */
    padding: 10px;
    border-radius: 50px;
    background-color: #ffffff72;
    box-shadow:2px solid black 3px 10px ;
   
}
/* @keyframes slider {
    50%{opacity: 0.5;}
    100%{opacity: 1;;}
} */
h1{
    font-size: 60;
}
.content-welcome h3{
    width: 400px;
font-size:25; 
font-style: italic;
word-spacing: 3px;
}

/* OUR SERVICE */
.bg-img{
    width: 1490px;
    height: 900px;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.6;
}
.service-title h1{
    padding-top: 50px;
    width: 1490px;
    text-align: center; 
    position: relative;
}
.service-title p{
    position: absolute;
    width: 235px;
    border-bottom: 5px solid black;
    margin-left: 630px;
    margin-top: -15px;
}
.service-img{
    position: relative;
    /* margin-top: 50px; */
    width: 1350px;
    height: 100%;
    padding-bottom: 100px;
    padding-left: 90px;
    margin-left: 20px;
    /* border:2px solid black solid black; */
    display: grid;
    grid-template-columns: auto auto auto;
}

/* Choice */

.choice{
width: 1490px;
position: relative;
margin-top: 80px;
background-color: rgb(65, 64, 64);
padding: 30px 0px;
height: 100%;
}
/* .choice img{

} */
/* .choice-box{
    width: 1490px;
    height: 100%;
    position: relative;
} */
.para-box{
    padding: 24px;
    position: absolute;
    width: 700px;
    height: 500px;
    border:5px double rgb(255, 253, 253);
    margin-left: 670px;
    margin-top: -560px;
    border-top-right-radius:120px ;
    border-bottom-left-radius:120px ;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    box-shadow: 10px 8px 60px rgb(7, 7, 7);
}
.para-box h3{
    padding-left: 20px;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.para-box h1{
    font-weight: 800 ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 200;
}

/* Footer box */

.footer{
    width: 1490px;
    height: 600px;
    background-color: #222222;
}
.cpy-right{
    margin-top: -25px;
    width: 1490px;
    height: 50px;
    background-color: black;
}
.cpy-right h4{
    color: #f5f7f4;
    text-align: center;
    padding-top: 10px;
}
.cpy-right h4 span{
    color: red;
}

.footer-text{
    color: rgb(176, 188, 163);
    width: 400px;
    padding: 40px;
    line-height: 1.5;
    margin-left: 200px;
}
.fa-brands{
    position: relative;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 60px rgb(58, 35, 35);
}
 .icon{
    display: flex;
    justify-content: space-evenly;
    width: 550px;
    height: 60px;
    /* border:2px solid black solid black; */
    align-items: center;
    margin-left: 160px;
    margin-top: -50px;
   
 }
 .fa-brands:hover{
    color: rgb(255, 213, 0);
    transform: scale(1.1);
 }

.address{
    position: absolute;
    margin-top: -300px;
    margin-left: 900px;
    width: 350px;
    color:rgb(214, 161, 64);
    line-height: 1.8;
    border-radius: 50px;
    padding: 50px;
    padding-top: 0px;
    box-shadow: 5px 10px 50px black;
}

.insta{
    position: absolute;
    width: 100px;
    height: 20px;
    border:2px solid black solid white;
    margin-left: 225px;
    text-align: center;
    background-image:-webkit-repeating-radial-gradient(left top,rgb(219, 0, 219),rgb(240, 128, 182),red,rgb(183, 183, 90));
    color: white;
    padding: 5px;
    font-weight: 600;
}

.face{
    position: absolute;
    width: 100px;
    height: 20px;
    border:2px solid black solid white;
    margin-left: 325px;
    text-align: center;
    background-color: rgb(0, 106, 255);
    color: white;
    padding: 5px;
}
.whats{
    position: absolute;
    width: 100px;
    height: 20px;
    border:2px solid black solid white;
    margin-left: 425px;
    text-align: center;
    background-color: rgb(8, 134, 8);
    color: white;
    padding: 5px;
}
.twitter{
    position: absolute;
    width: 100px;
    height: 20px;
    border:2px solid black solid white;
    margin-left: 525px;
    text-align: center;
    background-color: rgb(0, 106, 255);
    color: white;
    padding: 5px;
}

/* Products */



#products{
    background-color: #a39696;
    width: 1490px;
    height: 100%;
    padding: 100px 0px;
}



#products h1{
    text-align: center;
    padding: 10px;
    /* border:2px solid black; */
    position: absolute;
    width: 1465px;
    margin-top: -100px;
}


#product-images{
    display: grid;
    grid-template-columns: 370px  370px 370px;
    column-gap: 60px;
    row-gap: 40px;
    text-align: center;
    align-items: center;
    margin-left: 130px;
}





}