/* .service-img{
border: 2px solid black;
position: absolute;
width: 400px;
    
} */
.service-box{
    /* border: 2px solid black; */
    position: relative;
}
.overlay{
    position: absolute;
    width: 370px;
    height: 240px;
    background-color: orange;
    /* background-image: url(../images/service-img-6.jpg); */
    top: 0px;
    opacity: 0;
}
.overlay a{
position: absolute;
/* border:2px solid black; */
margin-left: 145px;
margin-top: 120px;
padding: 10px 25px;
cursor: pointer;
text-decoration: none;
border-radius: 5px;
background-color: #222222;
color: white;
}
.img-box:hover .overlay{
    opacity: 1;
   }

/* .img-box img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.7s;
    opacity: .9;
} */
.service-title{
    position: absolute;
    top: 0px;
    /* border: 2px solid black; */
}
.bg-img{
    width: 100%;
    height: 900px;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.6;
}

.img-box{
    /* margin-top: 100px; */
    position: relative;
    /* width: 100%;
    height: 100%; */
    /* border: 2px solid black; */
}

.img-box span{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: -4px;
    background-color: rgb(133, 3, 3);
    border: 3px solid rgb(90, 2, 2);
}
.img-box label{
    position: absolute;
    width: 285px;
    margin-top: -4px;
    border-bottom:2px solid black solid rgb(123, 118, 118);
    border-right:2px solid black solid rgb(123, 118, 118);
    padding: 21px 0px;
    margin-left: 64px;
    padding-left: 20px;
    background-color: black;
    color: wheat;
    font-size: 16px;
    font-weight: 500;
}
.img-box label:hover{
    color: white;
}
.service-img{
    position: absolute;
    /* width: 100%;
    height: 500px; */
    /* padding-bottom: 100px;
    padding-left: 90px;
    margin-left: 40px; */
    /* border:2px solid black; */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.view{
    position: absolute;
    /* border: 1px solid black; */
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0Px;
    text-align: center;
    align-items: center;
}
.view span{
    /* position: absolute; */
    border:2px solid black solid rgb(255, 255, 255);
    padding: 10px 20px;
    color: black;
    background-color: rgb(114, 184, 182);
    font-weight: 500;
    font-size: 16px;
   
}
.view span:hover{
    opacity: .7;
    cursor: pointer;
    font-size: 17px;
}


@media all and (min-width:1024px){
    .bg-img{
        width: auto;
        height: 1200px;
        background-image: url(../images/background.jpg);
        background-position: center;
        background-size: cover;
        opacity: 0.6;
    }
    .service-box{
        /* border: 2px solid black; */
        position: relative;
    }
    .service-title{
        position: absolute;
        top: 0px;
        /* border: 2px solid black; */
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .img-box{
        /* margin-top: 100px; */
        position: relative;
        /* width: 100%;
        height: 100%; */
        /* border: 2px solid black; */
    }
    /* .service-title h1{
        text-align: center; 
    } */
    .service-title p{
        position: absolute;
        border-bottom: 5px solid black;
        margin-top: 55px;
        width: 220px;
    }
    .service-img{
        /* position: relative; */
        position: absolute;
        top: 100px;
        /* margin-top: 50px; */
        /* height: 100%; */
        /* padding-bottom: 100px;
        padding-left: 90px;
        margin-left: 20px;  */
        width: 100%;
        /* border: 2px solid black; */
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        justify-content: space-around;
        row-gap: 100px;
    }
    .img-box span{
        position: absolute;
        width: 60px;
        height: 60px;
        margin-top: -4px;
        background-color: rgb(133, 3, 3);
        border: 3px solid rgb(90, 2, 2);
    }
    .img-box label{
        position: absolute;
        width: 285px;
        margin-top: -4px;
        border-bottom:2px solid black solid rgb(123, 118, 118);
        border-right:2px solid black solid rgb(123, 118, 118);
        padding: 21px 0px;
        margin-left: 64px;
        padding-left: 20px;
        background-color: black;
        color: wheat;
        font-size: 16px;
        font-weight: 500;
    }
    /* .service-name-box{
        border: 2px solid black;
        width: 100;
    } */
}


/* Mobile View  */

@media all and (width<=700px){
    .bg-img{
        width: auto;
        height: 1700px;
        background-image: url(../images/background.jpg);
        background-position: center;
        background-size: cover;
        opacity: 0.6;
    }
    .service-box{
        /* border: 2px solid black; */
        position: relative;
    }
    .service-title{
        position: absolute;
        /* border: 2px solid black; */
        width: 100%;
        height: 50px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .img-box{
        /* margin-top: 100px; */
        position: relative;
        /* width: 100%;
        height: 100%; */
        /* border: 2px solid black; */
    }
    /* .service-title h1{
        text-align: center; 
    } */
    .service-title p{
        position: absolute;
        border-bottom: 5px solid black;
        margin-top: 55px;
        width: 220px;
    }
    .service-img{
        position: absolute;
        top: 100px;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        row-gap: 100px;
    }
    .img1{
        width: 200px;
        height: 150px;
    }
    .img-box span{
        position: absolute;
        width: 60px;
        height: 50px;
        margin-top: -4px;
        background-color: rgb(133, 3, 3);
        border: 3px solid rgb(90, 2, 2);
    }
    .img-box label{
        position: absolute;
        width: 116px;
        margin-top: -4px;
        border-bottom:2px solid black solid rgb(123, 118, 118);
        border-right:2px solid black solid rgb(123, 118, 118);
        padding: 21px 0px;
        margin-left: 64px;
        padding-left: 20px;
        background-color: black;
        color: wheat;
        font-size: 10px;
        font-weight: 500;
    }
}