.slider-box{
    /* border:2px solid black solid black; */
    height: 700px;
    background-image:url(../images/roofing-contractor-2.PNG);
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: gray;
    padding: 50px;
    position: relative;
    /* animation-name: slider;
    animation-duration: 4s; */
}

.content-welcome {
    width: 600px;
    color: rgb(0, 0, 0);
    margin-left: 820px;
    margin-top: 380px;
    /* border:2px solid black solid black; */
    padding: 10px;
    border-radius: 50px;
    background-color: #ffffff72;
    box-shadow:2px solid black 3px 10px ;
    position: absolute;
   
}
/* @keyframes slider {
    50%{opacity: 0.5;}
    100%{opacity: 1;;}
} */
h1{
    font-size: 60;
}
.content-welcome h3{
    width: 400px;
font-size:25; 
font-style: italic;
word-spacing: 3px;
}



@media all and (min-width:1024px){
    /* slider  */
     
    .slider-box{
        width: auto;
        height: 700px;
        background-image:url(../images/roofing-contractor-2.PNG);
        background-repeat: no-repeat;
        background-size:cover;
        backdrop-filter: gray;
        padding: 50px;
    }
    .content-welcome {
        width: 600px;
        color: rgb(0, 0, 0);
        margin-left: 750px;
        margin-top: 380px;
        /* border:2px solid black solid black; */
        padding: 10px;
        border-radius: 50px;
        background-color: #ffffff72;
        box-shadow:2px solid black 3px 10px ;
       
    }
    
    }