section{
    margin-top: 150px;
    display: grid;
    grid-template-columns:repeat(3,450px);
    gap: 50px;
    padding-left: 100px;
}
.main_con{
padding: 20px 20px 20px 20px;
margin-top: 0px;
}
.img_watch{
    width: 300px;
    height: 350px;
}
h3{
    width: 300px;
    height: 70px;
}
h2{
    color: rgb(11, 139, 4);
}
